* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/cartoon-bg.jpg") no-repeat center;
  height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* mobile */
@media screen and (max-width: 599px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    height: 55px;
  }
  .nav__rules {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: yellowgreen;
  }
  .nav__title {
    display: flex;
    justify-content: center;
    color: darkorange;
    font-size: 20px;
  }
  .nav__sponsor {
    margin-right: 0px;
    color: darkgoldenrod;
  }

  .header {
    display: flex;
    margin: auto;
    padding-top: 70px;
    justify-content: center;
    background-color: transparent;
    margin-top: 0%;
    max-width: 800px;
  }
  .header__info {
    padding: 30px;
    border-radius: 7px;
    background-color: darksalmon;
    width: 86%;
  }
  .header__info--logPannel {
    text-align: center;
    color: rebeccapurple;
    font-family: monospace;
    font-size: 20px;
  }
  .header__info--logPannel > span {
    font-size: 30px;
    color: black;
  }
  .header__info--logPannel-choose-player-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    color: darkcyan;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-start-game-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-restart-game-btn {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }

  .battlefield {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .battlefield__player1 {
    max-width: 285px;
    margin-bottom: 237px;
  }
  .battlefield__player1-buttons {
    margin: 10px;
  }
  .battlefield__player1-buttons--attack {
    margin-bottom: 7px;
  }
  .battlefield__player1-buttons--spell {
    margin-bottom: 7px;
  }
  .battlefield__player1-gif {
    margin-bottom: 7px;
  }
  .battlefield__player1-gif--frame {
    border: 5px solid blue;
    border-radius: 5px;
  }
  .battlefield__player1-gif--replacement {
    min-width: 100%;
    max-height: 350px;
    border: 10px solid green;
  }
  .battlefield__player2 {
    max-width: 285px;
    margin-bottom: 237px;
  }
  .battlefield__player2-gif--frame {
    border: 5px solid red;
    border-radius: 5px;
    position: relative;
    width: 90% !important;
  }
  .battlefield__player2-gif--replacement {
    border: 10px solid yellow;
    width: 225px;
    height: 300px;
    min-width: 100%;
    max-height: 460px;
    margin-top: 200px;
  }
  .battlefield__player2--lifebar-row {
    margin-top: 7px;
  }

  .remove-from-screen {
    display: none;
  }

  .final-giff {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 400px;
  }
  .final-giff--frame {
    display: flex;
    justify-content: center;
    border: 10px solid green;
  }
}
@media screen and (min-width: 600px) {
  .main-container {
    background-size: cover;
    margin-bottom: 18px;
  }

  .nav {
    display: flex;
    align-items: center;
    background-color: darkgreen;
    height: 55px;
  }
  .nav__rules {
    margin-top: 9px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: yellowgreen;
  }
  .nav__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkorange;
    font-size: 20px;
  }
  .nav__sponsor {
    margin-right: 0px;
    display: inline;
    align-items: center;
    color: darkgoldenrod;
  }

  .header {
    display: flex;
    margin: auto;
    padding-top: 70px;
    justify-content: center;
    background-color: transparent;
    margin-top: 0%;
    max-width: 800px;
  }
  .header__info {
    padding: 30px;
    border-radius: 7px;
    background-color: darksalmon;
  }
  .header__info--logPannel {
    text-align: center;
    color: rebeccapurple;
    font-family: monospace;
    font-size: 20px;
  }
  .header__info--logPannel > span {
    font-size: 30px;
    color: black;
  }
  .header__info--logPannel-choose-player-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    color: darkcyan;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-start-game-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-restart-game-btn {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }

  .battlefield {
    display: flex;
    align-items: flex-end;
    height: 67vh;
    margin-top: 10px;
  }
  .battlefield__player1-buttons {
    margin: 10px;
    display: flex;
  }
  .battlefield__player1-buttons--attack {
    margin-bottom: 14px;
  }
  .battlefield__player1-buttons--spell {
    margin-bottom: 14px;
  }
  .battlefield__player1-buttons--pizza {
    margin-bottom: 14px;
  }
  .battlefield__player1-gif {
    margin-top: auto;
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .battlefield__player1-gif--frame {
    border: 12px solid blue;
    border-radius: 5px;
  }
  .battlefield__player1-gif--replacement {
    width: 100%;
    height: 100%;
    border: 10px solid green;
  }
  .battlefield__player1--lifebar-row {
    width: 100%;
    margin-top: 5px;
  }
  .battlefield__player2 {
    background-color: transparent;
  }
  .battlefield__player2-buttons--attack {
    display: none;
    margin-bottom: 3px;
  }
  .battlefield__player2-buttons--spell {
    display: none;
    margin-bottom: 3px;
  }
  .battlefield__player2-buttons--pizza {
    display: none;
    margin-bottom: 8px;
  }
  .battlefield__player2-gif {
    margin-top: auto;
    height: auto;
    width: auto;
    background-color: transparent;
  }
  .battlefield__player2-gif--frame {
    border: 12px solid red;
    border-radius: 5px;
  }
  .battlefield__player2-gif--replacement {
    width: 100%;
    height: 100%;
    border: 10px solid yellow;
  }
  .battlefield__player2--lifebar-row {
    width: 100%;
    margin-top: 5px;
  }

  .remove-from-screen {
    display: none;
  }

  .final-giff {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 400px;
  }
  .final-giff--frame {
    display: flex;
    justify-content: center;
    border: 10px solid green;
  }
}
/* desktop */
@media screen and (min-width: 1025px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
    height: 55px;
  }
  .nav__rules {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: yellowgreen;
  }
  .nav__title {
    display: flex;
    justify-content: center;
    color: darkorange;
    font-size: 20px;
  }
  .nav__sponsor {
    margin-right: 0px;
    color: darkgoldenrod;
  }

  .header {
    height: 100px;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    background-color: transparent;
    max-width: 800px;
    margin-bottom: 9%;
  }
  .header__info {
    padding: 30px;
    border-radius: 7px;
    background-color: darksalmon;
    width: 86%;
  }
  .header__info--logPannel {
    text-align: center;
    color: rebeccapurple;
    font-family: monospace;
    font-size: 20px;
  }
  .header__info--logPannel > span {
    font-size: 30px;
    color: black;
  }
  .header__info--logPannel-choose-player-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    color: darkcyan;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-start-game-btn {
    display: flex;
    justify-content: center;
    max-width: 289px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }
  .header__info--logPannel-restart-game-btn {
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 19px;
    font-weight: bolder;
  }

  .battlefield {
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    padding-top: 4px;
    margin-top: 148px;
  }
  .battlefield__player1 {
    max-width: 240px;
    margin-bottom: 237px;
  }
  .battlefield__player1-buttons {
    margin: 10px;
  }
  .battlefield__player1-buttons--attack {
    margin-bottom: 7px;
  }
  .battlefield__player1-buttons--spell {
    margin-bottom: 7px;
  }
  .battlefield__player1-gif {
    margin-bottom: 7px;
  }
  .battlefield__player1-gif--frame {
    border: 8px solid blue;
    border-radius: 5px;
  }
  .battlefield__player1-gif--replacement {
    min-width: 100%;
    max-height: 350px;
    border: 10px solid green;
  }
  .battlefield__player2 {
    max-width: 240px;
    margin-top: 13px;
    margin-bottom: 237px;
  }
  .battlefield__player2-gif--frame {
    border: 8px solid red;
    border-radius: 5px;
    position: relative;
    width: 240px;
  }
  .battlefield__player2-gif--replacement {
    border: 10px solid yellow;
    width: 225px;
    height: 300px;
    min-width: 100%;
    max-height: 460px;
    margin-top: 186px;
  }
  .battlefield__player2--lifebar-row {
    margin-top: 7px;
  }

  .remove-from-screen {
    display: none;
  }

  .add-margin-giff {
    margin-top: 150px;
  }

  .final-giff {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 400px;
  }
  .final-giff--frame {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border: 10px solid green;
  }
}